.raleway-logo{
	height: 118px;
	width: 278px;
}

.form-group.right{
    margin-left: 0;
    margin-right: 0;
}

p.general-error, p.general-success{
	margin: 0 0 1px;
	font-weight: bold;
}

p.invisible{
	display: none;
}

body {
    padding-bottom: 5px;
    padding-top: 5px;
}

.navbar-brand {
	height:118px;
	padding:0px 15px;
}

.navbar-nav {
    margin: 18px 0px 0px -18px;
}

@media (max-width:767px) {

	.navbar-header {
		height:133px;
		border-bottom:0px solid #E0E0E0;
	}
}

.navbar-toggle {
margin-top:40px;
}

.error{
	color: #ff0000;
}

.bold{
	font-weight: bold;
}

body{
	background: #404040;
}

.navbar-nav, #navbar,.navbar {
	background: #404040;
	color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	color: #67F352;
}

.navbar ul.nav a{
	color: #67F352;
}
.row{
	color: #67F352;
}

select{
	color: #555;
	background-color: #fff;
}

.text-white{
	color: #FFF;
	font-weight: bold;
}

.table.report > tbody > tr > td,
.table.report > tbody > tr > th,
.table.report > tfoot > tr > td,
.table.report > tfoot > tr > th,
.table.report > thead > tr > td,
.table.report > thead > tr > th {
	vertical-align: middle;
	text-align: center;
}

textarea{
	color: #555;
}

div.table-responsive td{
	vertical-align:middle;
}


div#images_count,div#videos_count{
	font-weight: bold;
}

div#images_count.green,div#videos_count.green{
	color: #2ecc71;
}

div#images_count.red,div#videos_count.red{
	color: #F00;
}
